jdbc:
  url: jdbc:postgresql://localhost:5432/postgres
  user: postgres
  password: 123456
  sql: SELECT 1 :: INTEGER AS a, 'jdbc2kafka' :: VARCHAR AS b
kafka:
  topic: test_jdbc2kafka
  bootstrap:
    servers: localhost:9093